/* 导航条样式开始 */
.nav{
    width: 100%;
    height: 103px;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.wrap{
    width: 1196px;
    margin: 0 auto;
}
.logo{
    width: 200px;
    height: 103px;
    float: left;
}
.nav-bar{
    width: 996px;
    height: 103px;
    float: left;
}
.nav-bar-top{
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 23px;
}
.nav-bar-bottom{
    width: 100%;
    height: 52px;
}
.logo img{
    margin-top: 26px;
}
.nav-bar ul{
    float: right;
}
.nav-bar li{
    float: left;
}
.nav-bar-top a{
    color: #9f9f9f;
    font-size: 12px;
}
.nav-bar-top span{
    color: #ddd;
    font-size: 12px;
    margin: 0 5px;
}
.cart{
    margin-left: 15px;
}
.nav-bar-top .active{
    color: #ef4200;
}
.nav-bar a:hover{
    color: #ef4200;
}
.nav-bar-bottom a{
    color: #000;
    padding: 0 26px;
}
.nav-bar-bottom .form{
    margin-left: 125px;
    width: 170px;
    height: 30px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding-left: 3px;
    position: relative;
}
.form input{
    width: 138px;
    height: 28px;
    float: left;
}
.form button{
    width: 25px;
    height: 28px;
    float: left;
    background-color: #fff;
}
.form a{
    padding: 0;
}
.search{
    width: 190px;
    height: 55px;
    background-color: skyblue;
    position: absolute;
    left: 0;
    top: 30px;
    /* 隐藏自己  隐藏后原位置不保留  */
    display: none;
    /* overflow:hidden;  溢出部分隐藏  当隐藏时在父元素外  显示时在父元素内 */
}
/* 鼠标悬停在input上  input后面所有的.search 兄弟显示 */
.form input:focus~.search{
    /* 元素转换为块级元素  显示 */
    display: block;
}
.nav-list{
    width: 100%;
    height: 250px;
    background-color: pink;
    border-top: 1px solid #d5d5d5;
    position: absolute;
    left: 0;
    top: 104px;
    display: none;
}
.nav-bar-bottom li:hover>.nav-list{
    display: block;
}
.nav-bar-bottom li{
    height: 52px;
}
/* 导航条样式介绍 */
/* 轮播图样式开始 */
.banner{
    width: 100%;
    height: 640px;
    background: url("../images/02_1517536570441.jpg") center no-repeat;
    margin-top: 104px;
}
/* 轮播图样式介绍 */
/* 明星产品样式开始 */
.star{
    width: 100%;
    height: 451px;
    background-color: #fff;
}
.title{
    font-weight: normal;
    font-size: 30px;
    padding: 40px 0;
    /* 字符之间的距离  可取正负 */
    letter-spacing: 1px;
}
.star-box{
    width: 100%;
    height: 270px;
}
.star-box>div{
    width: 390px;
    height: 270px;
    float: left;
    position: relative;
}
.star-box>div:nth-child(2){
    margin: 0 13px;
}
.star-text{
    position: absolute;
    top: 100px;
    left: 210px;
    text-align: left;
}
.star-box a{
    color: #fdf7f9;
}
.star-text li{
    height: 23px;
}
.star-text span{
    font-size: 18px;
    padding-right: 10px;
    /* 自己小范围移动 */
    position: relative;
    /* 正值  往下走   负值  往上走 */
    top: -4px;
}
/* 明星产品样式介绍 */
/* 热卖推荐开始 */
.title1{
    padding-bottom: 0;
}
.more{
    font-size: 15px;
    color: #000;
    padding-bottom: 15px;
    display: block;
    text-align: right;
}
.more:hover{
    color: #ef4200;
}
.hot-box-left{
    width: 305px;
    height: 785px;
    background-color: rebeccapurple;
    float: left;
}
.hot-box-right{
    width: 891px;
    height: 785px;
    float: left;
}
/* .hot-box{
    clear: both;
} */
.hot-box-right>div{
    width: 290px;
    height: 390px;
    background-color: #fff;
    float: left;
    margin-bottom: 5px;
    margin-left: 7px;
}
.img-box{
    width: 100%;
    height: 240px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.name{
    color: #0f0e0e;
}
.desc{
    color: #9E9E9E;
    font-size: 14px;
    margin-top: 3px;
}
.price{
    color: #fe6a00;
    font-size: 24px;
    margin-top: 12px;
}
.price>span{
    font-size: 18px;
    margin-right: 2px;
}
.img-box>img{
    width: 120px;
    position: absolute;
    top: 0;
    left: 85px;
}
.hot-box-right>div:hover .left{
    left: 55px;
}
.hot-box-right>div:hover .right{
    left: 115px;
}
.hot-box::after,.beauty::after{
    content: "";
    display: block;
    clear: both;
}
.hot-box-left:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
}
/* 热卖推荐介绍 */
/* 精美配件样式开始 */
.beauty-box>div{
    width: 386px;
    height: 343px;
    float: left;
    margin-bottom: 16px;
    margin-right: 19px;
    position: relative;
    transition: all .3s ease-in;
}
.beauty-box>div:nth-child(3n){
    margin-right: 0;
}
.text-box{
    width: 100%;
    height: 86px;
    position: absolute;
    left: 0;
    bottom: 21px;
}
.price1{
    margin-top: 2px;
    color: #f06261;
}
.beauty-box>div:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
    transform: translateY(-2px);
}
.beauty{
    margin-bottom: 60px;
}
/* 精美配件样式结束 */
/* 品牌动态样式开始 */
.dongtai{
    background-color: #fff;
}
.dongtai-box{
    width: 100%;
    height: 377px;
}
.dongtai-box>div{
    width: 386px;
    height: 377px;
    float: left;
    margin-bottom: 12px;
    margin-right: 19px;
}
.dongtai-box>div:last-child{
    margin-right: 0;
}
/* 品牌动态样式结束 */
/* 页脚1样式开始 */
.footer1{
    background-color: #fff;
}
.fuwu{
    padding: 40px 0;
    height: 47px;
    border-bottom: 1px solid #eaeaea;
}
.fuwu li{
    float: left;
    width: 24.5%;
    text-align: left;
}
.fuwu i{
    width: 46px;
    height: 46px;
    margin-right: 10px;
    float: left;
}
.fuwu span{
    color: #777;
    line-height: 20px;
    float: left;
}
.fuwu span:hover{
    color: #ef4200;
}
.info{
    width: 100%;
    height: 231px;
    padding: 30px 0;
}
.info ul{
    float: left;
    font-size: 12px;
    color: #777;
    width: 18%;
    line-height: 33px;
    text-align: left;
}
.info a{
    color: #777;
}
.info a:hover{
    color: #ef4200;
}
.info li:first-child{
    font-size: 16px;
}
.code{
    width: 105px;
    height: 231px;
    float: right;
}
.code>img{
    width: 98px;
    border: 3px solid #ccc;
}
.code>p{
    color: #999;
    font-size: 12px;
    line-height: 30px;
}
/* 页脚1样式结束 */
/* 页脚2样式开始 */
.footer2{
    width: 100%;
    height: 117px;
    background-color: #333;
    padding: 20px 0;
    font-size: 12px;
    color: #999;
    text-align: left;
}
.footer2 a{
    color: #999;
}
.footer2 a:hover{
    color: #fff;
}
.footer2 p{
    margin-bottom: 8px;
}
.footer2 p:first-child,.footer2 p:last-child{
    line-height: 23px;
}
.footer2 p:nth-child(2){
    line-height: 47px;
}
/* 页脚2样式结束 */